<ion-view>
  <ion-content>
<div class="pop text-center">
  <!-- <div class="popup-head pull-right">
    <img src="img/close.png" alt="" name="close">
  </div> -->
  <div class="popup-head">
    <div class="cross text-center">
    <i class="ln-cross"></i>
    </div>
  </div>
 <div class="popup-body">

   <div class="signup-form">
   <div class="list">
<p>Invalid Mobile Number !!</p>
<p>Please Enter Proper Mobile Number</p>
 </div>
 </div>
 </div>
 <div class="popup-buttons padding0 mt15">
   <button class="button button-full button-positive font-light" ng-click="closPop()" ion-ripple>
OK
   </button>
 </div>

</div>
  </ion-content>
</ion-view>
