<ion-view view-title="STALWART">
  <ion-content class="home-bg">
    <div class="card b-top-green" ui-sref="app.match-detail" ion-ripple>
      <div class="item item-text-wrap">
        <div class="card-innner">
          <div class="card-head">
            <div class="ser display-inline pull-left">
              <span>T20 WC 2016</span>
            </div>
            <div class="status display-inline pull-right"><span>LIVE</span></div>
          </div>
          <div class="card-body pt30">
            <div class="row">
              <div class="col-25">
                <div class="team pull-left">
                  <h1 class="margin0 text-up text-color">IND</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="vs text-center mt8">
                  <h3 class="margin0 text-color font-light">VS</h3>
                </div>
              </div>
              <div class="col-25">
                <div class="team pull-right">
                  <h1 class="margin0 text-up text-color">zim</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-center pt15">
            <h4 class="font-light text-color">Zim need 20 runs in 4 balls to win</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="card b-top-blue" ion-ripple>
      <div class="item item-text-wrap">
        <div class="card-innner">
          <div class="card-head">
            <div class="ser display-inline pull-left">
              <span>T20 WC 2016</span>
            </div>
            <div class="status2 display-inline pull-right text-up"><span>pre</span></div>
          </div>
          <div class="card-body pt30">
            <div class="row">
              <div class="col-25">
                <div class="team pull-left">
                  <h1 class="margin0 text-up text-color">IND</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="vs text-center">
                  <span class="text-color font-light">Sun, 15 Mar 2016</span>
                  <p class="text-color font-light">19:30 IST</p>
                </div>
              </div>
              <div class="col-25">
                <div class="team pull-right">
                  <h1 class="margin0 text-up text-color">sa</h1>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="card-footer text-center pt15">
            <h4 class="font-light text-color">India option to bat first</h4>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="card">
  <div class="item item-text-wrap">
    This is a basic Card which contains an item that has wrapping text.
  </div>
</div> -->
  </ion-content>
</ion-view>
