<ion-view>
  <ion-content class="bg-login ">
    <div class="login padding-horizontal">
      <div class="logo-title">
        <h2 class="margin0 postive-color font-light">STALWART</h2>
        <h3 class="margin0 white-color font-regular">Sign in to continue</h3>
      </div>
    </div>
    <div class="login-form padding-horizontal">
      <form name="login">
        <div class="list">
          <label class="item item-input">
               <i class="icon ln-iphone"></i>
            <input type="tel" placeholder="Mobile number" name="mobile" ng-model="form.contact" required>
              <p class="colpad" ng-show="login.mobile.$error.required && login.mobile.$dirty">Invalid Mobile Number</p>
          </label>
          <label class="item item-input">
               <i class="icon ln-lock"></i>
            <input type="password" placeholder="Password" ng-model="form.password">

          </label>

        </div>
      </form>
    </div>
    <div class="btn-login">

      <button class="button button-full button-positive font-light" ng-click="loginTap(form);" ion-ripple>  Login
</button>
<div class="or">
  <div class="text-center">- OR -</div>
</div>
<button ng-click="showSignup()" class="button button-full button-positive font-light" ion-ripple>
Become an member
</button>
    </div>
  </ion-content>
</ion-view>
