<ion-view>
  <ion-content class="bg-login ">
    <div class="login padding-horizontal">
      <div class="logo-title">
        <h2 class="margin0 postive-color font-light">STALWART</h2>
        <h3 class="margin0 white-color font-regular">Sign in to continue</h3>
      </div>
    </div>
    <div class="login-form padding-horizontal">
      <form action="">
        <div class="list">
          <label class="item item-input">
               <i class="icon ln-iphone"></i>
            <input type="number" placeholder="Mobile number">
          </label>
          <label class="item item-input">
               <i class="icon ln-lock"></i>
            <input type="password" placeholder="Password">
          </label>

        </div>
      </form>
    </div>
    <div class="btn-login">
      <button class="button button-full button-positive font-light" ui-sref="app.home" ion-ripple>
  Login
</button>
<div class="or">
  <div class="text-center">- OR -</div>
</div>
<button class="button button-full button-positive font-light" ng-click="showSuccess()" ion-ripple>
Become an member
</button>
    </div>
  </ion-content>
</ion-view>
