<ion-view view-title="STALWART">
  <ion-content class="home-bg">
    <!-- <div class="over-lay">
      <h1 class="text-up">wicket</h1>
    </div> -->

    <div class="card b-top-green">
      <div class="item item-text-wrap">
        <div class="card-innner">
          <div class="card-head">
            <div class="row padding0">
              <div class="col-33">
                <div class="ser display-inline pull-left">
                  <span>T20 WC 2016</span>
                </div>
              </div>
              <div class="col-33">
                <div class="inn">
                  <h5 class="text-center color-base" ng-if="match.isSecondInning">2<sup>nd</sup> Innings</h5>
                  <h5 class="text-center color-base" ng-if="!match.isSecondInning">1<sup>st</sup> Innings</h5>
                </div>
              </div>
              <div class="col-33">
                <div class="status display-inline pull-right"><span>LIVE</span></div>
              </div>
            </div>

          </div>
          <div class="card-body pt15">
            <div class="row">
              <div class="col-33">
                <div class="score">
                  <h2 class="font-light color-green">{{match.team1Runs}}/{{match.team1Wicket}}</h2>
                </div>
                <div class="over">
                  <h3 class="font-light color-base">(OVR: {{match.team1Overs}})</h3>
                </div>
                <div class="team pull-left">
                  <h1 class="margin0 text-up text-color font-light">{{match.team1}}</h1>
                </div>
              </div>
              <div class="col-33">
                <div class="vs text-center">
                  <h3 class="margin0 text-color mt26 font-light">VS</h3>
                </div>
              </div>
              <div class="col-33">
                <div class="score pull-right">
                  <h2 class="font-light postive-color">{{match.team2Runs}}/{{match.team2Wicket}}</h2>
                </div>
                <div class="clearfix"></div>
                <div class="over pull-right">
                  <h3 class="font-light color-base">(OVR: {{match.team2Overs}})</h3>
                </div>
                <div class="clearfix"></div>
                <div class="team pull-right">
                  <h1 class="margin0 text-up text-color font-light">{{match.team2}}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-center" ng-if="match.isSecondInning">
            <h4 class="font-light text-color">Zim need <span class="f20 postive-color">{{match.remainingRuns}} runs</span> in <span class="f20 postive-color">{{match.remainingBalls}} balls</span> to win</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="card rate">
      <div class="item item-divider font-light">
        RATE
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col-50"></div>
          <div class="col-25 text-center">
            <span class="color-base font-light">BACK</span>
          </div>
          <div class="col-25 text-center">
            <span class="color-base font-light">LAY</span>
          </div>
        </div>
        <div class="row team-rt1">
          <div class="col-50">
            <div class="team">
              <h4 class="text-up f20 font-light">ind</h4>
            </div>
          </div>
          <div class="col-25 text-center">
            <span class="postive-color f24">{{match.matchRate1|number:2}}</span>
          </div>
          <div class="col-25 text-center">
            <span class="postive-color f24">{{match.matchRate2|number:2}}</span>
          </div>
        </div>
        <div class="row team-rt2">
          <div class="col-50">
            <div class="team">
              <h4 class="text-up f20 font-light">zim</h4>
            </div>
          </div>
          <div class="col-25 text-center">
            <span class="postive-color f24">{{match.matchRate3|number:2}}</span>
          </div>
          <div class="col-25 text-center">
            <span class="postive-color f24">{{match.matchRate4|number:2}}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="card rate">
      <div class="item item-divider font-light">
        SESS
      </div>
      <div class="inn-tabs">
        <ul>
          <li class="text-up {{classa}}" ng-click="tabchange('first',1)">
            first innings
          </li>
          <li class="text-up {{classb}}" ng-click="tabchange('second',2)" ng-show="match.isSecondInning">
            second innings
          </li>
        </ul>
      </div>
      <div class="inn-det" ng-show="tab=='first'">
        <div class="list-data">
          <ul ng-repeat="ses in match.session1|orderBy : ses.over:true">
            <li>
              <div class="ovr f18 text-up color-black">
                {{ses.over}} (ovr)
              </div>
            </li>
            <li class="f20">
              -
            </li>
            <li>
              <div class="div-rates f24 " ng-class="{'color-green':match.inning1Overs >= ses.over,'postive-color':match.inning1Overs < ses.over}" >
                {{ses.run}} - {{ses.run + 1}} <span class="f16" ng-if="match.inning1Overs >= ses.over">(Completed)</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="inn-det" ng-show="tab=='second'">
        <div class="list-data">
          <ul ng-repeat="ses in match.session2|orderBy : ses.over:true">
            <li>
              <div class="ovr f18 text-up color-black">
                {{ses.over}} (ovr)
              </div>
            </li>
            <li class="f20">
              -
            </li>
            <li>
              <div class="div-rates f24 " ng-class="{'color-green':match.inning2Overs >= ses.over,'postive-color':match.inning2Overs < ses.over}" >
                {{ses.run}} - {{ses.run + 1}} <span class="f16" ng-if="match.inning2Overs >= ses.over">(Completed)</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
