<ion-view view-title="STALWART">
  <ion-content >
<div class="chng-password">
  <div class="item item-divider text-center">
  Change your password
</div>
<div class="padding-horizontal">
<div class="c-password">
  <form action="">
    <div class="signup-form">
    <div class="list">
    <label class="item item-input">
      <i class="ln-lock"></i>
      <input type="text" placeholder="Old password">
    </label>
    <label class="item item-input">
         <i class="ln-lock"></i>
      <input type="number" placeholder="New password">
    </label>
    <label class="item item-input">
         <i class="ln-lock"></i>
      <input type="number" placeholder="Confirm password">
    </label>

  </div>
  </div>
  </form>

</div>
</div>
<div class="mt60">
  <button class="button button-full button-positive font-light">
  Save
  </button>
  <button class="button button-full button-positive font-light">
  Cancel
  </button>
</div>

</div>
  </ion-content>
</ion-view>
