<ion-view view-title="STALWART">
  <ion-content >
<div class="chng-password">
  <div class="item item-divider text-center">
  Change your password
</div>
<div class="padding-horizontal">
<div class="c-password">
  <form action="" name="changePassword">
    <div class="signup-form">
    <div class="list">
    <label class="item item-input">
      <i class="ln-lock"></i>
      <input type="text" name="oldpassword" placeholder="Old password" required ng-model="form.oldPassword">
        <p class="colpad" ng-show="changePassword.oldpassword.$error.required && changePassword.oldpassword.$dirty">Old Password are wrong</p>
    </label>
    <label class="item item-input">
         <i class="ln-lock"></i>
      <input type="password" name="newpassword" ng-model="form.newPassword" placeholder="New password" required>

    </label>
    <label class="item item-input">
         <i class="ln-lock"></i>
      <input type="password" name="confirmpassword" ng-model="form2.newPassword" placeholder="Confirm password" required>
    </label>

  </div>
  </div>
  </form>

</div>
</div>
<div class="mt60">
  <button class="button button-full button-positive font-light" ion-ripple ng-click="Success()" ng-disabled="form.newPassword!=form2.newPassword">
  Save
  </button>
  <button class="button button-full button-positive font-light" ion-ripple>
  Cancel
  </button>
</div>

</div>
  </ion-content>
</ion-view>
