<ion-view>
  <ion-content>
<div class="pop text-center">
  <!-- <div class="popup-head pull-right">
    <img src="img/close.png" alt="" name="close">
  </div> -->
 <div class="popup-body">
   <div class="signup-form">
   <div class="list">
   <label class="item item-input">
     <i class="ln-user"></i>
     <input type="text" placeholder="Enter full name">
   </label>
   <label class="item item-input">
        <i class="ln-iphone"></i>
     <input type="number" placeholder="Enter mobile number">
   </label>

 </div>
 </div>
 </div>
 <div class="popup-buttons padding0 mt15">
   <button class="button button-full button-positive font-light" ng-click="closPop()">
  Request
   </button>
 </div>

</div>
  </ion-content>
</ion-view>
